.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  margin-bottom: 20px;
}

.wd-modules > li > div {
  padding: 6px;
}

.wd-modules > li > ul > li,
.wd-modules > li > ul > ul > li {
  padding: 5px;
  border-top: 1px solid rgb(207, 204, 204) !important;
  border-left: 2px solid green;
}
